@model List<STUDENT>
@{
    ViewData["Title"] = "My Students";
}
@section Title {
    My Students
}
    <div class="container-fluid justify-content-center px-5 py-5 text-center">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">This specific view is only viewed by Staff Member @Model[0].StaffMember.FirstName @Model[0].StaffMember.SurName</h6>
                    <h1 class="display-4">My Students</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-image mx-5 my-5 mb-5">
            <div class="col-lg-12 justify-content-center table-responsive">
                <table class="table justify-content-center">
                    <thead>
                        <tr>
                            <th scope="col">UserName</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">SurName</th>
                            <th scope="col">PhoneNumber</th>
                            <th scope="col">Number of Scolarship Debts</th>
                            <th scope="col">Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-primary">
                            <td><a asp-controller="Account" asp-action="StudentStaffMember" asp-route-id=@item.Id>@item.UserName</a></td>
                            <td>@item.FirstName</td>
                            <td>@item.SurName</td>
                            <td>@item.PhoneNumber</td>
                            <td><a asp-controller="Debt" asp-action="DebtsByStudentStaffMember" asp-route-id=@item.Id>@item.Debts.Count()</a></td>
                            <td>@item.RegDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
