@model List<PAYMENTPLAN>
@{
    ViewData["Title"] = "All Payment Plans";
}
<div class="container-fluid px-0 py-5" style="width:1200px;margin-left:10%;margin-right:10%;">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">This specific view is only viewed by admins</h6>
                <h1 class="display-4">All Payment Plans</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-12 py-6">
            <table class="table " style="width:1000px;margin-left:10%;margin-right:10%;">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Paid</th>

                        <th scope="col">StaffMember</th>
                        <th scope="col">Student</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table">
                            <td>@item.Type</td>
                            <td>@item.Amount</td>
                            @if (@item.Paid == true)
                            {
                                <td>Yes</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                            <td><a asp-controller="Account" asp-action="StudentsByStaffMemberAdmin" asp-route-id=@item.Debt.Student.StaffMemberId>@item.Debt.Student.StaffMember.UserName</a></td>
                            <td><a asp-controller="Debt" asp-action="DebtsByStudentAdmin" asp-route-id=@item.Debt.StudentId>@item.Debt.Student.Email</a></td>
                            @if (@item.Type == "I")
                            {
                                <td><a asp-controller="Installment" asp-action="InstallmentsByPaymentPlanAdmin" asp-route-id=@item.Id>Details</a></td>
                            }
                            else
                            {
                                <td><a asp-controller="PaymentPlan" asp-action="DetailsByPaymentPlanAdmin" asp-route-id=@item.Id>Details</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>