@model PAYMENTPLANFULL
@{
    ViewData["Title"] = "Payment In full Detailed";
}
<div class="container-fluid px-0 py-5" style="width:1200px;margin-left:10%;margin-right:10%;">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">This specific view is only viewed by admins</h6>
                <h1 class="display-4">Details of Payment Plan @Model.Id</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-image mx-0 mb-5">
        <div class="col-lg-12 py-6">
            <table class="table " style="width:1000px;margin-left:10%;margin-right:10%;">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Paid</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">StaffMember</th>
                        <th scope="col">Student</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table">
                        <td>@Model.Type</td>
                        <td>@Model.Amount</td>
                        @if (@Model.Paid == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>@Model.PaymentDate</td>
                        <td><a asp-controller="Account" asp-action="StudentsByStaffMemberAdmin" asp-route-id=@Model.Debt.Student.StaffMemberId>@Model.Debt.Student.StaffMember.UserName</a></td>
                        <td><a asp-controller="Debt" asp-action="DebtsByStudentAdmin" asp-route-id=@Model.Debt.StudentId>@Model.Debt.Student.Email</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>