@using Debt_Calculation_And_Repayment_System.Data.ViewModels
@using System.Globalization;
@model PreviewRequestVM
@{
    ViewData["Title"] = "Talep Önizleme";
}


@section Title {
    Talep Önizleme
}

<div class="jumbotron jumbotron-fluid position-relative overlay-bottom">
    <div class="container text-center my-5 py-5">
       
    
        <h4 class="text-white">Toplam Tutar:@Model.Total</h4>
        <h4 class="text-white">Bursiyerin Peşin Ödeyeceği Tutar: @Model.ToBePaidFull </h4>
        @if (Model.ToBePaidInstallment > 0)
    {
            <h4 class="text-white">Bursiyerin Taksitle Ödeyeceği Tutar: @(Model.Total - Model.ToBePaidFull)</h4>
            <h4 class="text-white">Vade sonucu Toplam Ödenecek Tutar: @Model.ToBePaidInstallment</h4>
            <h4 class="text-white">Aylık Taksit Tutar @Model.ToBePaidEachMonth</h4>
            <h4 class="text-white">Taksit Sayısı @Model.NumOfMonths </h4>
    }
        <h4 class="text-white mt-4 mb-4">↓↓↓ Ödeme Planını Kesinleştir ↓↓↓  </h4>
    </div>
</div>


<div class="row justify-content-center bg-image mx-0 mb-3">
    <div class="col-md-10">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Taksit Sayısı</th>
                    <th scope="col">Son Ödeme Tarihi</th>

                    <th scope="col">Tip</th>
                    <th scope="col">Ana Para</th>
                    <th scope="col">Faiz Tutarı</th>
                    <th scope="col">Aylık Toplam</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int taksit = 0;
                }
                @foreach (var item in Model.Payments.OrderBy(k=>k.PaymentDate))
                {
                    taksit++;
                    <tr class="table">
                        <td>@taksit</td>
                        <td>@item.PaymentDate.ToString("dd.MM.yyyy")</td>
                        <td>@item.Type</td>
                        <td>@item.PrincipalAmount</td>
                        <td>@item.InterestAmount</td>
                        <td>@item.Sum</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>@Model.Payments.Sum(k=>k.PrincipalAmount)</strong></td>
                    <td><strong>@Model.Payments.Sum(k=>k.InterestAmount)</strong></td>
                    <td><strong>@Model.Payments.Sum(k=>k.Sum)</strong></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4">Kesin Ödeme Planı Özetiniz</h1>
            <form asp-action="CreateRequest">
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Toplam Borç</label>
                            <input asp-for="Total" type="number" step="any" value=@Model.Total.ToString(CultureInfo.InvariantCulture) readonly class="form-control bg-light border-0">
                            <span asp-validation-for="Total" style="color:red"></span>
                        </div>
                    </div>         
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Taksitli Ödenecek Borç Toplamı</label>
                            <input type="number" step="any" value=@Model.ToBePaidInstallment.ToString(CultureInfo.InvariantCulture) readonly class="form-control bg-light border-0">
                            <span asp-validation-for="ToBePaidInstallment" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Peşin Ödenecek Tutar</label>
                            <input asp-for="ToBePaidFull" type="number" step="any" value=@Model.ToBePaidFull.ToString(CultureInfo.InvariantCulture) readonly class="form-control bg-light border-0">
                            <span asp-validation-for="ToBePaidFull" style="color:red"></span>
                        </div>
                    </div>
                @if (Model.ToBePaidInstallment > 0)
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                                <label>Talep Ettiğiniz Taksit Sayısı</label>
                                <input asp-for="NumOfMonths" min="0" max="60" type="number" value=@Model.NumOfMonths readonly class="form-control bg-light border-0">
                            <span asp-validation-for="NumOfMonths" style="color:red"></span>
                        </div>
                    </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>1. Taksit Ödeme Tarihi</label>
                                <input asp-for="FirstInstallmentDate" type="date" asp-format="{0:dd'.'MM'.'yyyy}" readonly class="form-control bg-light border-0" placeholder="İlk Taksit Ödeme Tarihi">
                                <span asp-validation-for="FirstInstallmentDate" style="color:red"></span>
                            </div>
                        </div>
                }
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group" style="display:flex;">
                            <label>Ödeme Planını Kabul Ediyorum.</label>
                            <input asp-for="Accept" type="checkbox" class="form-control bg-light border-0">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit" value="CreateReques" disabled>Talep Oluştur</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Disable/enable button based on checkbox status
        $(document).ready(function () {
            $('input[type="checkbox"]').on('change', function () {
                if ($(this).is(':checked')) {
                    $('button[type="submit"]').prop('disabled', false);
                } else {
                    $('button[type="submit"]').prop('disabled', true);
                }
            });
        });
    </script>
}






