@model List<REQUEST>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Talepler
}
    @section Name1{
    
}
    @section Name2{
    Talepler
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Peşin Ödenecek Tutar</th>
            <th scope="col">Taksitli Ödenecek Tutar</th>
            <th scope="col">İlk Taksit Ödeme Tarihi</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Taksit Sayısı</th>
            <th scope="col">Kayıt Tarihi</th>
            <th scope="col">Durum</th>
            <th scope="col"></th>
            @if (User.IsInRole("Admin") || User.IsInRole("StaffMember"))
            {
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="table">
            <td>@item.ToBePaidFull</td>
            <td>@item.ToBePaidInstallment</td>
                <td>
            @if(@item.DebtRegister.FirstInstallmentDate!=null)
            {
                @item.DebtRegister.FirstInstallmentDate.Value.ToString("dd.MM.yyyy")
            }
                </td>
            <td>@item.Description</td>
            <td>@item.NumOfMonths</td>
                <td>@item.RegDate.ToString("dd.MM.yyyy")</td>
            <td>@item.Status</td>
            <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.StudentId class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:150px;height:45px;">Borç Kayıt</a></td>
                @if (User.IsInRole("Admin")|| User.IsInRole("StaffMember") && item.Status=="Bekliyor")
                {
                    <td><a asp-controller="DebtRegister" asp-action="AcceptRequest" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:160px;height:45px;">Kabul Et</a></td>
                    <td><a asp-controller="DebtRegister" asp-action="DeclineRequest" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:160px;height:45px;">Red</a></td>
                }
        </tr>
    }

    </tbody>
</table>