@model List<REQUEST>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Requests
}
    @section Name1{
    Student @try {@Model[0].DebtRegister.Student.Email} catch {}
}
    @section Name2{
    Requests
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">To Be Paid Full</th>
            <th scope="col">To Be Paid Installment</th>
            <th scope="col">Number Of Months</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            @if (User.IsInRole("Admin, StaffMember"))
            {
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="table">
            <td>@item.ToBePaidFull</td>
            <td>@item.ToBePaidInstallment</td>
            <td>@item.NumOfMonths</td>
            <td>@item.RegDate</td>
            <td>@item.Status</td>
            <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:150px;height:45px;">Debt Register</a></td>
                @if (User.IsInRole("Admin, StaffMember"))
                {
            <td><a asp-controller="DebtRegister" asp-action="AcceptRequest" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:160px;height:45px;">Accept Request</a></td>
                }
        </tr>
    }

    </tbody>
</table>