@model IEnumerable<PAYMENTPLAN>
@{
    ViewData["Title"] = "PaymentPlansperPayment";
}
<table class="table " style="width:1500px;margin-left:10%;margin-right:10%;"
    <thead>
        <tr>
            <th scope="col">Num Of Installment</th>
            <th scope="col">Principal Amount</th>
            <th scope="col">Interest Amount</th>
            <th scope="col">Monthly Total Amount</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Start Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td>@item.NumOfInstallment</td>
                <td>@item.PrincipalAmount</td>
                <td>@item.InterestAmount</td>
                <td>@item.MonthlyTotalAmount</td>
                <td>@item.RegDate</td>
                <td>@item.StartDate</td>
            </tr>
        }
    </tbody>
</table>