@model List<PAYMENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Payments
}
    @section Name1{
    Student @try
    {
        @Model[0].DebtRegister.Student.Email
    }
    catch {}
}
    @section Name2{
    Payments
}
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Sum</th>
                <th scope="col">Principal Amount</th>
                <th scope="col">Interest Amount</th>
                <th scope="col">Paid</th>
                <th scope="col">Type</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Registration Date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Sum</td>
                <td>@item.PrincipalAmount</td>
                <td>@item.InterestAmount</td>
                <td>@item.Paid</td>
                <td>@item.Type</td>
                <td>@item.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
