@model List<PAYMENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Payments
}
    @section Name1{
    Student @try
    {
        @Model[0].DebtRegister.Student.Email
    }
    catch {}
}
    @section Name2{
    Payments
}
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Sum</th>
                <th scope="col">Paid</th>
                <th scope="col">Type</th>
                <th scope="col">Payment Date</th>
                <th scope="col">Registration Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Sum</td>
                <td>@item.Paid</td>
                <td>@item.Type</td>
                <td>@item.PaymentDate</td>
                <td>@item.RegDate</td>
                <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:150px;height:45px;">Debt Register</a></td>
            </tr>
        }
    </tbody>
</table>
