@model List<STAFFMEMBER>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Görevliler
}
    @section Name1{
    Hakkında
}
    @section Name2{
    Görevliler
}
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Adres</th>
                <th scope="col">Telefon</th>
                <th scope="col">Kayıt Tarihi</th>
                <th scope="col">Bursiyerleri</th>
                <th scope="col">Şifre Sıfırlama</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                <td><a asp-controller="Student" asp-action="StudentsByStaffMember" asp-route-id=@item.Id class="btn btn-primary py-2 px-4 d-none d-lg-block" >Bursiyer Listesi</a></td>
                <td><a asp-controller="Account" asp-action="SendPasswordResetEmail" asp-route-id=@item.Id class="btn btn-primary py-2 px-4 d-none d-lg-block">Şifre Sıfırla</a></td>
            </tr>
        }
    </tbody>
</table>
