@model List<INSTALLMENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Installment By Payment Plan
}
@section Name1{
    tsiwtsiw
}
@section Name2{
    niwniw
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">IntialAmount</th>
            <th scope="col">Amount After Interest</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Registration Date</th>
            <th scope="col">Number Of Days</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.InitialAmount</td>
                <td>@item.AmountAfterInterest</td>
                <td>@item.PaymentDate</td>
                <td>@item.RegDate</td>
                <td>@item.NumberOfDays</td>
                <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.Id>DebtRegister</a></td>
            </tr>
        }
    </tbody>
</table>
