@model List<INSTALLMENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Installments
}
@section Name1{
    Student @try
    {
        @Model[0].DebtRegister.Student.Email
    }
    catch
    {

    }
}
@section Name2{
    Installments
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Rest</th>
            <th scope="col">IntialAmount</th>
            <th scope="col">Amount After Interest</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Number Of Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Rest</td>
                <td>@item.InitialAmount</td>
                <td>@item.AmountAfterInterest</td>
                <td>@item.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>@item.NumberOfDays</td>
            </tr>
        }
    </tbody>
</table>
