@model List<INSTALLMENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Ödeme Planı
}
@section Name1{
    Bursiyer @try
    {
        @Model[0].DebtRegister.Student.Email
        <br/>
        @Model[0].DebtRegister.Student.FirstName
        <br />
        @Model[0].DebtRegister.Student.ProgramType.Type
        
    }
    catch
    {

    }
}
@section Name2{
    Ödeme Planı
}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Ana Para</th>
            <th scope="col">Ödeme Tarihi</th>
            <th scope="col">Ödenecek Tutarı</th>
            <th scope="col">Tahakkuk Eden Ek Faiz Tutarı</th>
           
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Rest</td>
                <td>@item.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>@item.InitialAmount</td>
                <td>@(item.AmountAfterInterest-item.InitialAmount)</td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td> <strong>@Model.Sum(k=>k.InitialAmount)</strong></td>
            <td><strong>@Model.Sum(k=>k.AmountAfterInterest-k.InitialAmount)</strong></td>
            
        </tr>
    </tbody>
</table>
