@using Debt_Calculation_And_Repayment_System.Data.Static
@model List<STUDENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Staff Members
}
    @section Name1{
    Information about
}
    @section Name2{
    Students
}

    <div class="form-inline">
        <div class="form-group mr-2">
            <label for="filterProgramId">ProgramID:</label>
            <input type="text" id="filterProgramId" class="form-control form-control-sm" />
        </div>
        <div class="form-group mr-2">
            <label for="filterFirstName">FirstName:</label>
            <input type="text" id="filterFirstName" class="form-control form-control-sm" />
        </div>
        <div class="form-group mr-2">
            <label for="filterSurName">SurName:</label>
            <input type="text" id="filterSurName" class="form-control form-control-sm" />
        </div>
        <div class="form-group mr-2">
            <label for="filterEmail">Email:</label>
            <input type="text" id="filterEmail" class="form-control form-control-sm" />
        </div>
        <div class="form-group mr-2">
            <label for="filterStatus">Status:</label>
            <input type="text" id="filterStatus" class="form-control form-control-sm" />
        </div>

        <button id="btnFilter" class="btn btn-secondary mr-2">Filter</button>
        <button id="btnClearFilter" class="btn btn-secondary">Clear Filter</button>
    </div>



<table class="table" id="tblStudents">
    <thead>
        <tr>
            <th scope="col">Profile</th>
            <th scope="col">ProgramID</th>
            <th scope="col">FirstName</th>
            <th scope="col">SurName</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">RegDate</th>
        @if (User.IsInRole(UserRoles.Admin))
        {
            <th scope="col">StaffMember</th>
        }
        @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember))
        {
            <th scope="col">Password Reset</th>
        }
        @if (User.IsInRole(UserRoles.Admin))
        {
            <th scope="col"></th>
        }
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-controller="Student" asp-action="StudentById" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" >@item.Email</a></td>
                <td>@item.ProgramID</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <td><a asp-controller="StaffMember" asp-action="StaffMemberById" asp-route-id=@item.StaffMember.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">@item.StaffMember.Email</a></td>
                }
                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember))
                {
                    <td><a asp-controller="Account" asp-action="SendPasswordResetEmail" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Send Reset Password Email</a></td>
                }
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <td><a asp-controller="Student" asp-action="DeleteStudent" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Delete Student</a></td>
                }
                    <td>@item.Status</td>
                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember))
                {
                    <td><a asp-controller="Student" asp-action="ChangeStatus" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">ChangeStatus</a></td>
                }
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @if (User.IsInRole("StaffMember"))
    {
        <script>
            $(document).ready(function () {
        // Filter button click event
        $("#btnFilter").on("click", function () {
            var filterProgramId = $("#filterProgramId").val();
            var filterFirstName = $("#filterFirstName").val();
            var filterSurName = $("#filterSurName").val();
            var filterEmail = $("#filterEmail").val();
            var filterStatus = $("#filterStatus").val();

            // Loop through each row in the table
            $("#tblStudents tbody tr").each(function () {

                var programId = $(this).find("td:nth-child(2)").text();
                var firstName = $(this).find("td:nth-child(3)").text();
                var surName = $(this).find("td:nth-child(4)").text();
                var email = $(this).find("td:first-child a").text();
                var status = $(this).find("td:nth-child(9)").text();

                // Show/hide row based on filter criteria
                if (programId.includes(filterProgramId) &&
                    firstName.includes(filterFirstName) &&
                    surName.includes(filterSurName) &&
                    email.includes(filterEmail) &&
                    status.includes(filterStatus)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        // Clear filter button click event
        $("#btnClearFilter").on("click", function () {
            $("#filterProgramId").val("");
            $("#filterFirstName").val("");
            $("#filterSurName").val("");
            $("#filterEmail").val("");
            $("#filterStatus").val("");
            $("#tblStudents tbody tr").show();
        });
    });
    </script>
    }
    @if (User.IsInRole("Admin"))
    {
        <script>
            $(document).ready(function () {
                // Filter button click event
                $("#btnFilter").on("click", function () {
                    var filterProgramId = $("#filterProgramId").val();
                    var filterFirstName = $("#filterFirstName").val();
                    var filterSurName = $("#filterSurName").val();
                    var filterEmail = $("#filterEmail").val();
                    var filterStatus = $("#filterStatus").val();

                    // Loop through each row in the table
                    $("#tblStudents tbody tr").each(function () {

                        var programId = $(this).find("td:nth-child(2)").text();
                        var firstName = $(this).find("td:nth-child(3)").text();
                        var surName = $(this).find("td:nth-child(4)").text();
                        var email = $(this).find("td:first-child a").text();
                        var status = $(this).find("td:nth-child(11)").text();

                        // Show/hide row based on filter criteria
                        if (programId.includes(filterProgramId) &&
                            firstName.includes(filterFirstName) &&
                            surName.includes(filterSurName) &&
                            email.includes(filterEmail) &&
                            status.includes(filterStatus)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });

                // Clear filter button click event
                $("#btnClearFilter").on("click", function () {
                    $("#filterProgramId").val("");
                    $("#filterFirstName").val("");
                    $("#filterSurName").val("");
                    $("#filterEmail").val("");
                    $("#filterStatus").val("");
                    $("#tblStudents tbody tr").show();
                });
            });
        </script>
    }
}