@using Debt_Calculation_And_Repayment_System.Data.Static
@model List<STUDENT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Görevliler
}
   
    @section Name2{
    Bursiyerler
}
@using (Html.BeginForm("MyStudents", "Student", FormMethod.Post))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Mesaj:</strong> @ViewBag.Message
        </div>
    }
   
    
        <div class="form-inline">
            <div class="form-group mr-2">

                @*<input type="text" id="filterProgramId" class="form-control form-control-sm" />*@
                @Html.DropDownList("filterProgramId",new SelectList(ViewBag.ProgramTypes,"Id","Type"),"Program Seçiniz",new { @class = "form-control bg-light border-0" })

            </div>
            <div class="form-group mr-2">
                <label for="filterName">İsim Soyisim:</label>
            <input type="text" id="filterName" name="filterName" class="form-control form-control-sm" />
            </div>
            <div class="form-group mr-2">
                <label for="filterTc">TCKN:</label>
            <input type="text" id="filterTc" name="filterTc" class="form-control form-control-sm" />
            </div>
            <div class="form-group mr-2">
                <label for="filterEmail">Email:</label>
            <input type="text" id="filterEmail" name="filterEmail" class="form-control form-control-sm" />
            </div>
            <div class="form-group mr-2">

                @*<input type="text" id="filterStatus" class="form-control form-control-sm" />*@
            @Html.DropDownList("filterStatus",new SelectList(ViewBag.Statuses,"Type","Type"),"Durum Seçiniz",new { @class = "form-control bg-light border-0" })

            </div>

            <button id="btnFilter"  class="btn btn-secondary mr-2">Filtrele</button>
            @*<button id="btnClearFilter" class="btn btn-secondary">Temizle</button>*@
        </div>
        <br/>
        <div class="row"></div>
    }


<table class="table" id="table" 
       
       data-show-multi-sort="true" >
    <thead>
        <tr>
            <th scope="col">Profile</th>
            <th  data-sortable="true" scope="col">Program</th>
            <th data-field="item.FirstName" data-sortable="true" scope="col">İsim Soyisim</th>
           
            <th scope="col">Adres</th>
            <th scope="col">Telefon</th>
            <th scope="col">Kayıt Tarihi</th>
       
        @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember))
        {
            <th scope="col">Şifre Reset</th>
                <th scope="col">Borç Yükle</th>
        }
        @if (User.IsInRole(UserRoles.Admin))
        {
            <th scope="col"></th>
        }
            <th data-sortable="true" scope="col">Durum</th>
            <th scope="col"></th>
        </tr>
    </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.Id class="btn btn-outline-secondary d-none d-lg-block">@item.Email</a></td>
                <td>@item.ProgramType.Type</td>
                <td>@item.FirstName @item.SurName @item.IdentityNumber</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.RegDate.ToString("dd.MM.yyyy")</td>
               
                
                    <td>
                    @if ((User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember)) && item.Status == "Borcu Girildi")
                    {
                        <a asp-controller="Account" asp-action="SendPasswordResetEmail" asp-route-id=@item.Id class="btn btn-secondary py-2 px-2 d-none d-lg-block">Şifre Sıfırla</a>
                    }
                    </td>
                    <td>
                    @if ((User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember)) && item.Status == "Yeni Kayıt")
                    {
                        
                            <form method="post" enctype="multipart/form-data" asp-controller="Debt" asp-action="ExcelImport">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="hidden" name="id" value="@item.DebtRegister.Id" />
                                        <input class="form-control"  name="fromFiles" multiple="multiple" type="file" />
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <input class="btn btn-primary " type="submit" value="+" />
                                    </div>
                                </div>

                            </form>
                        }
                       
                        </td>
                
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <td><a asp-controller="Student" asp-action="DeleteStudent" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block"> Sil</a></td>
                }
                    <td>@item.Status</td>
                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.StaffMember))
                {
                    <td><a asp-controller="Student" asp-action="ChangeStatus" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Güncelle</a></td>
                }
            </tr>
        }
    </tbody>
</table>

@*@section Scripts {
    @if (User.IsInRole("StaffMember"))
    {
        <script>
            $(document).ready(function () {
        // Filter button click event
        $("#btnFilter").on("click", function () {
            var filterProgramId = $("#filterProgramId").val();
            var filterFirstName = $("#filterFirstName").val();
            var filterSurName = $("#filterSurName").val();
            var filterEmail = $("#filterEmail").val();
            var filterStatus = $("#filterStatus").val();

            // Loop through each row in the table
            $("#tblStudents tbody tr").each(function () {

                var programId = $(this).find("td:nth-child(2)").text();
                var firstName = $(this).find("td:nth-child(3)").text();
                var surName = $(this).find("td:nth-child(4)").text();
                var email = $(this).find("td:first-child a").text();
                var status = $(this).find("td:nth-child(9)").text();

                // Show/hide row based on filter criteria
                if (programId.includes(filterProgramId) &&
                    firstName.includes(filterFirstName) &&
                    surName.includes(filterSurName) &&
                    email.includes(filterEmail) &&
                    status.includes(filterStatus)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        // Clear filter button click event
        $("#btnClearFilter").on("click", function () {
            $("#filterProgramId").val("");
            $("#filterFirstName").val("");
            $("#filterSurName").val("");
            $("#filterEmail").val("");
            $("#filterStatus").val("");
            $("#tblStudents tbody tr").show();
        });
    });
    </script>
    }
    @if (User.IsInRole("Admin"))
    {
        <script>
            $(document).ready(function () {
                // Filter button click event
                $("#btnFilter").on("click", function () {
                    var filterProgramId = $("#filterProgramId").val();
                    var filterFirstName = $("#filterFirstName").val();
                    var filterSurName = $("#filterSurName").val();
                    var filterEmail = $("#filterEmail").val();
                    var filterStatus = $("#filterStatus").val();

                    // Loop through each row in the table
                    $("#tblStudents tbody tr").each(function () {

                        var programId = $(this).find("td:nth-child(2)").text();
                        var firstName = $(this).find("td:nth-child(3)").text();
                        var surName = $(this).find("td:nth-child(4)").text();
                        var email = $(this).find("td:first-child a").text();
                        var status = $(this).find("td:nth-child(11)").text();

                        // Show/hide row based on filter criteria
                        if (programId.includes(filterProgramId) &&
                            firstName.includes(filterFirstName) &&
                            surName.includes(filterSurName) &&
                            email.includes(filterEmail) &&
                            status.includes(filterStatus)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });

                // Clear filter button click event
                $("#btnClearFilter").on("click", function () {
                    $("#filterProgramId").val("");
                    $("#filterFirstName").val("");
                    $("#filterSurName").val("");
                    $("#filterEmail").val("");
                    $("#filterStatus").val("");
                    $("#tblStudents tbody tr").show();
                });
            });
        </script>
    }
}*@

@section Scripts {
   
        <script>
            $(document).ready(function () {
            $('#table').bootstrapTable();
        });
    </script>
    }

            
