@model List<DEBT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Debts
}
    @section Name1{
    Student @Model[0].DebtRegister.Student.Email
}
    @section Name2{
    Debts
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Registration Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Amount</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.RegDate</td>
                <td><a asp-controller="DebtRegister" asp-action="DebtRegisterById" asp-route-id=@item.DebtRegister.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block" style="width:150px;height:45px;">Debt Register</a></td>
            </tr>
        }
    </tbody>
</table>