@model List<DEBT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Debts
}
    @section Name1{
    Bursiyer: @Model[0].DebtRegister.Student.Email
}
    @section Name2{
            Burs Borçları @if ((User.IsInRole("Admin") || User.IsInRole("StaffMember")) )
    {
        <a asp-controller="Debt" asp-action="DeleteDebtAll" asp-route-id=@Model[0].DebtRegister.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Tümünü Sil</a>
    }
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tutar</th>
            <th scope="col">Başlangıç Tarihi</th>
            @*<th scope="col">Bitiş Tarihi</th>*@
            @*<th scope="col">Gün Sayısı</th>*@
           @* <th scope="col">Kayıt Tarihi</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Amount</td>
                <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
               @* <td>@item.EndDate.ToString("yyyy-MM-dd")</td>*@
               @* <td>@((int)(item.EndDate - item.StartDate).TotalDays)</td>*@
               @* <td>@item.RegDate.ToString("dd-MM-yyyy")</td>*@
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("StaffMember") )
                    {
                    <a asp-controller="Debt" asp-action="DeleteDebt" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Sil</a>
                    }    
                </td>
            </tr>
        }
        <tr>
            <td><strong>@Model.Sum(k=>k.Amount)</strong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>