@model List<DEBT>
@{
    Layout = "~/Views/Shared/_LayoutSecondary.cshtml";
}
@section Title {
    Debts
}
    @section Name1{
    Student @Model[0].DebtRegister.Student.Email
}
    @section Name2{
    Debts
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Number Of Days</th>
            <th scope="col">Registration Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">
                <td>@item.Amount</td>
                <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@((int)(item.EndDate - item.StartDate).TotalDays)</td>
                <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("StaffMember") )
                    {
                    <a asp-controller="Debt" asp-action="DeleteDebt" asp-route-id=@item.Id class="btn btn-secondary py-2 px-4 d-none d-lg-block">Delete Debt</a>
                    }    
                </td>
            </tr>
        }
    </tbody>
</table>